* {box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
}

.top-header {
    padding: 30px;
    justify-content: space-around;
    width: 100%;
    background-color:wheat;
}

.nav-list {
    font-size: 10px;
    padding-bottom: 10px;
}

.main {
    background-color: papayawhip;
    padding-block: 50px;
    /* height: 75vh; */
    text-align: center;
}

.home-main, .checkout-main, .contact-main {
    height: 90vh;
}

/* .main-products  */

.nav-item {
    color: cadetblue;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-item:hover {
    color: #000;
    background-color: turquoise;
    border: none;
}

.contact-h2 {
    font-size: 20px;
    /* font-weight: 500; */
}

.contact-item {
    text-decoration: none;
    list-style-type: none;
}

footer {
    background-color: aliceblue;
    padding-block: 50px;
}

